<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.account.dao.AccountDAO">
	<select id="selectTypeList" resultType="kr.kh.account.model.vo.Type">
		SELECT * FROM type
	</select>
	<select id="selectCategoryList" resultType="kr.kh.account.model.vo.Category">
		SELECT * FROM Category WHERE ca_ty_name = #{ty_name}
	</select>
	<insert id="insertItem">
		INSERT INTO item(it_ca_num,it_date,it_money,it_content)
		VALUES(#{item.it_ca_num},#{item.it_date},#{item.it_money},#{item.it_content})
	</insert>
	<select id="selectItemListByDate" resultType="kr.kh.account.model.vo.Item">
		SELECT 
			item.*, ca_ty_name as it_ty_name, ca_name as it_ca_name
		FROM
			item 
				JOIN
			category ON ca_num = it_ca_num
		WHERE
			it_date like concat(#{it_date}, '%')
	</select>
	<update id="updateItem">
		UPDATE
			item 
		SET 
			it_ca_num = #{item.it_ca_num},
			it_date = #{item.it_date},
		    it_money = #{item.it_money},
		    it_content = #{item.it_content}
		WHERE 
			it_num = #{item.it_num}
	</update>
	<delete id="deleteItem">
		DELETE
		FROM item 
		WHERE it_num = #{it_num}
	</delete>
	<select id="selectItemListSearch" resultType="kr.kh.account.model.vo.Item">
		SELECT 
		    item.*, ca_ty_name AS it_ty_name, ca_name AS it_ca_name
		FROM
		    item
		        JOIN
		    item category ON ca_num = it_ca_num
		WHERE
		    it_date LIKE CONCAT(#{cri.search}, '%')
		ORDER BY it_date DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
</mapper>